# ================================================
# Plantilla de Variables de Entorno — App Factura
# ================================================

# Usuarios del sistema
VITE_USER_ADMIN_PASS=TuContraseñaSegura
VITE_USER_ADMIN_ROLE=admin
VITE_USER_ADMIN_EMAIL= crea una cuenta de correo para el admin, por ejemplo: admin@tusistema.com

VITE_USER_FRAN_PASS=TuContraseñaSegura
VITE_USER_FRAN_ROLE=cajero

VITE_USER_ENGELS_PASS=TuContraseñaSegura
VITE_USER_ENGELS_ROLE=mesero

VITE_USER_SIDNEY_PASS=TuContraseñaSegura
VITE_USER_SIDNEY_ROLE=cocinero

# PINs de acceso rápido
VITE_PIN_ADMIN=TuPIN
VITE_PIN_FRAN=TuPIN
VITE_PIN_ENGELS=TuPIN
VITE_PIN_SIDNEY=TuPIN
